@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to BlackBook! This is a work in progress system for generating invoices and sales reports.</p>
</div>
